{# item_new_edit.html #}

{% extends "base.html" %}

{% block content %}

    <h1>
        {{ title }}
    </h1>

    <form method="post" action="{{ url_for('your_form_action_route') }}">
        {# CSRF token for security, assuming Flask-WTF is used #}
        {{ form.hidden_tag() }}

        {# Loop through form fields and render them manually #}
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field(class="form-control") }}
                {% if field.errors %}
                    <ul class="errors">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}

