<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Dream 4 Lab</h1>
		                <a href="{{ url_for('main.home') }}"><i class="fas fa-home"></i>Home</a>
		                <a href="{{ url_for('projets.projets_list') }}"><i class="fas fa-shields"></i>Projets</a>
		                <a href="{{ url_for('personnels.personnes_list') }}"><i class="fas fa-shields"></i>Personnes</a>
				<a href="{{ url_for('main.profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('main.logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
