{% extends 'base.html' %}
{% import "macros.html" as macros %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
{{macros.build_site_navigation(pages=pages, selected="Page Name")}}
{% endblock %}

~
~
