<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Ldap Login</h1>
			<div class="links">
                                <a href="{{ url_for('main.login') }}" class="active">Login</a>
                                <a href="{{ url_for('main.register') }}">Register</a>
			</div>


			{% with messages = get_flashed_messages() %}
			{% if messages %}
			    <div class="notification is-danger">
		        {{ messages[0] }}
			    </div>
			{% endif %}
			{% endwith %}

	  	 	<form action="{{ url_for('main.login') }}" method="post">
                                <label for="username">
                                        <i class="fas fa-user"></i>
                                </label>
                                <input type="text" name="email" placeholder="email" id="email" required>
                                <label for="password">
                                        <i class="fas fa-lock"></i>
                                </label>
                                <input type="password" name="password" placeholder="Password" id="password" required>
                                <input type="submit" value="Login">
                        </form>

		</div>
	</body>
</html>
