{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>******</td>
        </tr>
    </table>
</div>
{% endblock %}
